In [1]:
import pandas as pd
import numpy as np

In [2]:
purchase_data = "purchase_data.csv"
purchase_data = pd.read_csv(purchase_data)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [60]:
purchase_data.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [44]:
#Find the series of unique players, get the count, and assign the value to the variable. 
player_count = purchase_data["SN"].unique()
player_count = pd.Series(player_count)
player_count = player_count.count()
player_count

576

In [52]:
#Create a dataframe of Total Players
player_count_df = pd.DataFrame({"Total Players": player_count})
player_count_df

ValueError: If using all scalar values, you must pass an index

In [56]:
# Extract Purchasing Analysis Data from Purchasing Data datafram
items_df= purchase_data[["Item ID", "Item Name", "Price"]]

In [57]:
# Find number of unique items
unique_items = items_df["Item ID"].unique()
unique_items = pd.Series(unique_items)
unique_items = unique_items.count()

In [58]:
#Find average, number of purchases, and total revenue
average= items_df["Price"].mean()
num_of_purchase = purchase_data["Purchase ID"].count()
total_revenue = items_df["Price"].sum()

In [59]:
#Create dataframe with results
purchase_analysis = pd.DataFrame({"Unique Items": [unique_items], "Average": [average], "Total Purchases": [num_of_purchase], "Total Revenue":[total_revenue] })
purchase_analysis

   Unique Items   Average  Total Purchases  Total Revenue
0           179  3.050987              780        2379.77

In [ ]:
#Recast results with appropriate formatting

In [135]:
#Find gender types
gender_types = purchase_data["Gender"].value_counts()
gender_types

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [143]:
gender_male = "Male"
gender_female = "Female"
gender_other = "Other/Non-Disclosed"

In [84]:
#Find male players
male_players = purchase_data.loc[purchase_data["Gender"]=="Male"]
male_count = male_players["SN"].unique()
male_count = pd.Series(male_count)
male_count = male_count.count()

84.03

In [85]:
#Find female players
female_players = purchase_data.loc[purchase_data["Gender"]=="Female"]
female_count = female_players["SN"].unique()
female_count = pd.Series(female_count)
female_count = female_count.count()

14.06

In [86]:
#Find other players
other_players = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]
other_count = other_players["SN"].unique()
other_count = pd.Series(other_count)
other_count = other_count.count()

1.91

In [146]:
per_of_total_m = round((male_count/player_count)*100, 2)
per_of_total_f = round((female_count/player_count)*100, 2)
per_of_total_o = round((other_count/player_count)*100, 2)

In [147]:
#Combine into dataframe
gender_demo = {"Total Count": male_count, "Percent of Total": per_of_total_m, "Gender": gender_male}, {"Total Count": female_count, "Percent of Total": per_of_total_f, "Gender": gender_female}, {"Total Count": other_count, "Percent of Total": per_of_total_o, "Gender": gender_other}
gender_demo_df = pd.DataFrame(gender_demo)

#set index to gender
gender_demo_df = gender_demo_df.set_index("Gender")
gender_demo_df

                     Total Count  Percent of Total
Gender
Male                         484             84.03
Female                        81             14.06
Other/Non-Disclosed           11              1.91

In [177]:
gender_purchase = purchase_data.groupby("Gender")
gender_purchase.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [178]:
total_gender_purchases = gender_purchase["Price"].sum()
total_gender_purchases

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [186]:
gender_groups = purchase_data.groupby("Gender")
purchase_count = gender_groups["Purchase ID"]
# purchase_count = pd.DataFrame(purchase_count)
purchase_count.count()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [183]:
gender_average = gender_purchase["Price"].mean()
gender_average = pd.DataFrame(gender_average)
gender_average

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [181]:
purchase_analysis_gender = pd.DataFrame[{"Purchase Count":purchase_count}, {"Average Purchase": gender_average}, {"Total Gender Purchases": total_gender_purchases}]
purchase_analysis_gender

TypeError: 'type' object is not subscriptable